// Sets icons
@import url("//cdn.jsdelivr.net/npm/keyrune@latest/css/keyrune.css");

// Mana icons
@import url("//cdn.jsdelivr.net/npm/mana-font@latest/css/mana.css");

$light-glass-background: rgba(255, 255, 255, 0.1);
$medium-glass-background: rgba(255, 255, 255, 0.3);
$strong-glass-background: rgba(255, 255, 255, 0.5);

$light-glass-background-select: #2d3039;
$medium-glass-background-select: #525562;

$text-color: white;

$title-underline-color: #822a4a;

$primary-color: #9A2A2A;
$primary-color-hover: #b33333;

$dark-background: #151823;
$app-background-color: #1F1A25;

.ms-saga::before {
  color: black;
}

#cardPage .cardInfos .manaIconContainer .ms-cost,
#deckLists .deck-infos .manaIconContainer .ms-cost {
  width: 25px;
  height: 25px;
  font-size: 19px;
}

#cardPage .cardText .ms-cost {
  width: 20px;
  height: 20px;
  font-size: 0.87em;
  margin-right: 3px;
}

#cardPage .cardPT .ms-loyalty-start {
  font-size: 50px;
  transform: translateY(8px);
}

#cardPage .cardPT .ms-defense-print {
  font-size: 40px;
}

.cardTables {
  .tableColor td{
    background: #3A3A4F !important;
    border: none;
  }

  .tableColor.hover-row td {
    background: #4a4a64 !important;
    cursor: pointer;
  }

  th {
    background: #3A3A4F !important;
  }
  
  .el-table td.el-table__cell,
  .el-table th.el-table__cell.is-leaf {
    border: 1px solid #2A2A35;
  }

  .el-table {
    --el-table-border-color: none;
  }

  .el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell {
    background: #4a4a64 !important;
    cursor: default;
  }

  thead .cell {
    color: $text-color;
  }
}
