$light-glass-background: rgba(255, 255, 255, 0.1);
$medium-glass-background: rgba(255, 255, 255, 0.3);
$strong-glass-background: rgba(255, 255, 255, 0.5);

$text-color: white;
$title-underline-color: #822a4a;